In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("countries.csv", encoding = "latin-1")

In [3]:
df

,country,continent,life_expectancy,population,gdp
0,Afghanistan,Asia,54.863,22856302,15153728226
1,Albania,Europe,74.200,3071856,12886435920
2,Algeria,Africa,68.963,30533827,155661450046
3,Angola,Africa,45.234,13926373,34063908358
4,Antigua and Barbuda,N. America,73.544,77656,989182128
...,...,...,...,...,...
183,Vietnam,Asia,73.777,78758010,124201381770
184,West Bank and Gaza,Asia,70.929,3198560,24264276160
185,"Yemen, Rep.",Asia,60.404,17723186,39292303362
186,Zambia,Africa,41.802,10201562,10558616670
187,Zimbabwe,Africa,43.976,12509477,9319560365

In [4]:
df.shape

(188, 5)

In [5]:
df.head()

               country   continent  life_expectancy  population           gdp
0          Afghanistan        Asia           54.863    22856302   15153728226
1              Albania      Europe           74.200     3071856   12886435920
2              Algeria      Africa           68.963    30533827  155661450046
3               Angola      Africa           45.234    13926373   34063908358
4  Antigua and Barbuda  N. America           73.544       77656     989182128

In [6]:
df.tail()

                country continent  life_expectancy  population           gdp
183             Vietnam      Asia           73.777    78758010  124201381770
184  West Bank and Gaza      Asia           70.929     3198560   24264276160
185         Yemen, Rep.      Asia           60.404    17723186   39292303362
186              Zambia    Africa           41.802    10201562   10558616670
187            Zimbabwe    Africa           43.976    12509477    9319560365

In [12]:
df.sort_values(by='population', ascending=False).head()

           country   continent  life_expectancy  population             gdp
34           China        Asia           72.124  1269116737   4323880722959
75           India        Asia           62.129  1053898107   1736824080336
178  United States  N. America           76.800   282496310  11231488292980
76       Indonesia        Asia           67.289   213395411    579155145454
22          Brazil  S. America           70.261   174425387   1405170917672

In [13]:
df.population

0      22856302
1       3071856
2      30533827
3      13926373
4         77656
         ...
183    78758010
184     3198560
185    17723186
186    10201562
187    12509477
Name: population, Length: 188, dtype: int64

In [14]:
df.population.sum()

6115042358

In [16]:
df.population.mean()

32526821.05319149

In [17]:
df.population.describe()

count    1.880000e+02
mean     3.252682e+07
std      1.237952e+08
min      5.619600e+04
25%      2.003170e+06
50%      6.888970e+06
75%      2.218517e+07
max      1.269117e+09
Name: population, dtype: float64

In [20]:
# Per capita GDP
df.gdp / df.population

0        663.0
1       4195.0
2       5098.0
3       2446.0
4      12738.0
        ...
183     1577.0
184     7586.0
185     2217.0
186     1035.0
187      745.0
Length: 188, dtype: float64

In [21]:
df['per_capita_gdp'] = df.gdp / df.population

In [25]:
# 3 countries with lowest per capita GDPs
df.sort_values(by='per_capita_gdp').head(3)

,country,continent,life_expectancy,population,gdp,per_capita_gdp
37,"Congo, Dem. Rep.",Africa,46.387,49626200,14490850400,292.0
26,Burundi,Africa,48.251,6374347,2823835721,443.0
54,Ethiopia,Africa,52.245,65577897,33575883264,512.0